
.picture2-top{
	position: sticky;
	top: 0;
	z-index: 4;
}
.useooo{
	position: absolute;
	top: 40px;
	left: 400px;
	height: 420px;
	width: 1100px;
	background-color:white;
	display: none;
}
.picture2-top>ul>li{
	box-sizing: border-box;
}
.picture2-top>ul>li:hover{
	border-bottom: 3px solid #b4a078;
}
.picture2-top>ul>li:hover>div{
	display: block;
	
}
.useooo>ul{
	margin: 0;
	padding:0;
	list-style: none;
}
.useooo>ul>li{
	float: left;
	color: black;
	width:115px;
	height: 500px;
	margin-left: 20px;
	text-align: left;
}
.useooo>ul>li>p{
	height: 30px;
	margin:0;
	padding-top: 10px;
	line-height: 30px;
	border-bottom: 1px solid #ceac78;
}
.useooo>ul>li>ul{
	list-style: none;
	margin:0;
	padding:0;
}
.useooo>ul>li>ul>li{
	height: 55px;
	
	margin-top: 5px;
}
.useooo>ul>li>ul>li:nth-child(1){
	margin-top: 20px;
}
.nav-left{
	float: left;
	position: sticky;
	top: 200px;
	left: 260px;
	
	height: 403px;
	width: 110px;
	background-color: white;
	border: 1px solid #e2ded6;
}

.nav-left>ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.nav-left>ul>li{
	width: 105px;
	height: 39px;
	text-align: left;
	font-size: 13px;
	color: #bb335b;
	border-bottom: 1px solid #ededed;
}
.nav-left>ul>li:nth-child(10){
	height: 43px;
}
.nav-left>ul>li>p{
	float: right;
	margin:0;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 30px;
}
.nav-left>ul>li>hr{
	width: 90px;
	color:#e2ded6; 
	margin: 0px;
}
.nav-left>ul>li>img{
	height: 43px;
	width: 35px;
}
.nav-left>ul>li:nth-child(1){
	font-size: 20px; 
	text-align: center;
	color: #bb335b;
	line-height: 39px;
	border-bottom: 1px solid #e2ded6;
}
.nav-right{
	float: right;
	position: sticky;
	top: 200px;
	z-index: 3;
	height: 448px;
	width: 90px;
	background-color: white;
	border: 1px solid #e2ded6;
}
.nav-right>ul{
	list-style: none;
	margin: 0;
	padding:0;
}
.nav-right>ul>li>div{
	margin-left: 5px;
	border-bottom: 1px solid #e2ded6;
}

.nav-right>ul>li:nth-child(3){
	position: relative;
}
.nav-right>ul>li:nth-child(3)>.ccc{
	position: absolute;
	top:-80px;
	left: -320px;
	width: 300px;
	height: 200px;
	background-color: #ededed;
	display: none ;
}
.ccc>img{
	height: 200px;
	width: 300px;
}
.nav-right>ul>li:nth-child(3):hover>.ccc{
	display: block;
}